@page
@model Contracts.Pages.ContractModel

<style>
    .container_s {
        height: 297mm; /* Înălțimea paginii A4 */
        width: 210mm; /* Lățimea paginii A4 */
        background-color: #fff;
        margin: 20px auto; /* Margin auto pentru a centra pe orizontală și un spațiu de 20px deasupra butonului */


        box-shadow: 15px 15px 10px 15px rgba(0, 0, 0, 0.5);
        z-index: 2; /* Acesta este pentru a plasa div-ul în prim plan */
    }

    .container_content {
        height: 297mm; /* Înălțimea paginii A4 */
        width: 210mm; /* Lățimea paginii A4 */
        margin-left: auto; /* Centralizează conținutul pe pagină */
        margin-right: auto; /* Centralizează conținutul pe pagină */
        background-color: #fff;
    }

    .two, .three, .four, .five, .six, .seven, .eight, .nine {
        border: 1px solid black;
        margin: 5px;
    }

    .column {
        display: inline-block;
        vertical-align: top;
    }

    .left-column {
        width: 33%;
        text-align: left;
    }

    .center-column {
        text-align: center;
        font-weight: bold;
        width: 29%;
    }

    .right-column {
        width: 34%;
        text-align: left;
    }

    .seven-one, .eight-one {
        width: 60%;
        text-align: left;
        border-right: 1px solid black;
        flex: 1;
    }

    .seven-two, .eight-two {
        width: 3%;
        flex: 1;
    }

    .seven-three, .eight-three {
        width: 35%;
        text-align: left;
        border-left: 1px solid black;
        flex: 1;
    }

    p, span, h3 {
        font-size: 12px;
    }

    small {
        font-size: 10px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script>
    $(document).ready(function ($) {

        $(document).on('click', '.btn_print', function (event) {
            console.log("start converting")
            event.preventDefault();

            var element = document.getElementById('container_content');
            var opt =
            {
                margin: 0.1,
                filename: 'Contract_Vanzare_Cumparare_Auto.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'A4', orientation: 'portrait' }
            };

            html2pdf().set(opt).from(element).save();
        });
    });
</script>

<div class="cursor-div">
    <h5>Vizualizare Contract</h5>
    <br />
    <ul class="containerT">
        @if (Model.Stage == 1)
        {
            <li class="link active"><a href="">Vanzator</a></li>
        }
        else
        {
            <li class="link"><a href="">Vanzator</a></li>
        }

        @if (Model.Stage == 2)
        {
            <li class="link active"><a href="">Cumparator</a></li>
        }
        else
        {
            <li class="link"><a href="">Cumparator</a></li>
        }

        @if (Model.Stage == 3)
        {
            <li class="link active"><a href="">Masina</a></li>
        }
        else
        {
            <li class="link"><a href="">Masina</a></li>
        }

        @if (Model.Stage == 4)
        {
            <li class="link active"><a href="">Oferta</a></li>
        }
        else
        {
            <li class="link"><a href="">Oferta</a></li>
        }

        @if (Model.Stage == 5)
        {
            <li class="link active"><a href="">Terminat</a></li>
        }
        else
        {
            <li class="link"><a href="">Terminat</a></li>
        }

    </ul>
</div>

<div class="text-center" style="padding:20px;">
    <input type="button" id="rep" value="Salveaza ca PDF" class="btn btn-info btn_print">
</div>

<div class="container_s">
    <div id="container_content">
        <div class="section one">
            <div class="column left-column" style="border: 1px solid black; margin:3px">
                <p style="margin: 3px"><b>A:</b> Denumirea organului fiscal local de la domiciliul/sediul persoanei care înstrăinează</p>
                <p style="margin: 3px">CIF/Cod SIRUTA</p>
                <p style="margin: 3px">Adresa</p>
                <p style="margin: 3px">Tel/fax/e-mail</p>
                <p style="margin: 3px">REMTII Nr. ………/………….20…</p>
                <p style="margin: 3px">Rol nr.: ………………………</p>
                <span style="margin-right: 30px; margin: 3px">  Original</span>
                <span>  Copie</span>
            </div>
            <div class="column center-column">
                <p>Model 2016 ITL 054 Anexa nr. 2</p>
                <p style="font-size: 16px">CONTRACT DE ÎNSTRĂINARE – DOBÂNDIRE A UNUI MIJLOC DE TRANSPORT</p>
            </div>
            <div class="column right-column" style="border: 1px solid black;margin:3px">
                <p style="margin: 3px"><b>B:</b> Denumirea organului fiscal local</p>
                <p style="margin: 3px">Vânzătorul NU are debite la data de întâi a lunii următoare înregistrării actului de înstrăinare-dobândire <small style="font-style: italic;">(se completează și pe copii):</small></p>
                <p style="margin: 3px">Prenumele ………………………</p>
                <p style="margin: 3px">Numele …………………………</p>
                <p style="margin: 3px">Funcţia …………………………</p>
                <p style="margin: 3px; padding: 0 0 10px 0">LS.</p>
            </div>
        </div>
        <div class="section two">
            <p style="text-align:justify; margin: 3px">
                <b>(1) PERSOANA CARE ÎNSTRĂINEAZĂ</b> Subsemnatul(a)/Subscrisa <b>@Model.CarContractData.Seller.LastName @Model.CarContractData.Seller.FirstName</b>
                cu domiciliul/sediul în ROMÂNIA/ <b>@Model.CarContractData.Seller.Address </b>, codul poştal <b>@Model.CarContractData.Seller.PostalCode</b>,  identificat prin
                B.I./C.I./C.I.P./Paşaport seria <b>@Model.CarContractData.Seller.SerialCharacters</b> nr. <b>@Model.CarContractData.Seller.SerialNumber</b>,
                C.N.P./C.I.F4) <b>@Model.CarContractData.Seller.PersonalIdentificationNumber</b>, tel. <b>@Model.CarContractData.Seller.Phone</b>,
                e-mail <b>@Model.CarContractData.Seller.Email</b>, şi domiciliul fiscal în ROMÂNIA/ ......., judeţul ...................., codul postal…………
                municipiul / oraşul / comuna ......, satul/sectorul ......,
                str. ........., nr. ..., bl..., sc. .., et...., ap ..,
                reprezentată prin........ identificat prin B.I./C.I./C.I.P./Paşaport seria .. nr. ....,
                C.I.F ............, tel./fax............., e-mail .........., în calitate de <b>proprietar</b>.
            </p>
        </div>
        <div class="section three">
            <p>
                <b>(2) PERSOANA CARE DOBÂNDEŞTE</b> Subsemnatul(a)/Subscrisa <b>@Model.CarContractData.Buyer.LastName @Model.CarContractData.Buyer.FirstName</b>
                cu domiciliul/sediul în ROMÂNIA/ <b>@Model.CarContractData.Buyer.Address </b>, codul poştal <b>@Model.CarContractData.Buyer.PostalCode</b>,  identificat prin
                B.I./C.I./C.I.P./Paşaport seria <b>@Model.CarContractData.Buyer.SerialCharacters</b> nr. <b>@Model.CarContractData.Buyer.SerialNumber</b>,
                C.N.P./C.I.F4) <b>@Model.CarContractData.Buyer.PersonalIdentificationNumber</b>, tel. <b>@Model.CarContractData.Buyer.Phone</b>,
                e-mail <b>@Model.CarContractData.Buyer.Email</b>, şi domiciliul fiscal în ROMÂNIA/ ...., judeţul ........., codul postal……
                municipiul / oraşul / comuna ...., satul/sectorul ..........,
                str. ..........., nr. .., bl. .., sc. .., et. .., ap ....,
                reprezentată prin............ identificat prin B.I./C.I./C.I.P./Paşaport seria ... nr. ....,
                C.I.F ......., tel./fax......., e-mail ......…,
                în calitate de <b>cumparator</b>.
            </p>
        </div>
        <div class="section four">
            <p style="font-weight: bold; margin:3px">(3) OBIECTUL CONTRACTULUI</p>
            <p style="text-align:justify; margin: 3px">Mijlocul de transport: 
                marca <b>@Model.CarContractData.Car.Name</b>, tipul <b>@Model.CarContractData.Car.Model</b>, 
                număr de identificare <b>@Model.CarContractData.Car.VIN</b>, 
                serie motor <b>@Model.CarContractData.Car.EngineSN</b>, 
                capacitatea cilindrică <b>@Model.CarContractData.Car.EngineCCM</b> cm³, 
                greutate maximă admisă (pentru remorci / semiremorci) <b>@Model.CarContractData.Car.Weight KG</b>, 
                număr de înmatriculare/înregistrare <b>@Model.CarContractData.Car.PlateNumber</b>, 
                data la care expiră inspecţia tehnică periodică <b>@Model.CarContractData.Car.LastInspection.ToShortDateString()</b>, 
                numărul cărţii de identitate a vehiculului <b>@Model.CarContractData.Car.VehicleIdentityCardNumber</b>, anul de fabricaţie <b>@Model.CarContractData.Car.FabricationYear</b>, norma euro <b>@Model.CarContractData.Car.EuroPolutionNorm</b> dobândit la data de <b>@Model.CarContractData.Car.AcquisitionDate.ToShortDateString()</b>, conform act <b>@Model.CarContractData.Car.AcuisitionPaperName</b>.
            </p>
        </div>
        <div class="section five">
            <p style="margin:3px"><b>(4) PREŢUL</b> în cifre <b>@Model.CarContractData.FinancialInfo.Price</b> 
                <b>@Model.CarContractData.FinancialInfo.Currency</b>, 
                în litere <b>@Model.CarContractData.FinancialInfo.PriceAsString() @Model.CarContractData.FinancialInfo.Currency</b>.</p>
        </div>
        <div class="section six">
            <p style="margin:3px; font-size:8px">
                <b style="font-size:14px">(5)</b> Persoana care înstrăinează menţionată la punctul (1) declară ca mijlocul de transport este proprietatea sa, liber de orice sarcini.
                De asemenea, declară ca a predat persoanei care dobândeşte menţionat la punctul (2) vehiculul, cheile, certificatul de înmatriculare şi cartea de identitate a vehiculului, primind de la acesta preţul prevăzut la punctul (4). Persoana care dobândeşte menţionată la punctul (2) declară ca a primit de la vânzătorul menţionat la punctul (1) mijlocului de transport, cheile, certificatul de înmatriculare şi cartea de identitate a vehiculului, achitând persoanei care înstrăinează preţul menţionat la punctul (4).
            </p>
            <p style="margin:3px; font-size:8px">Anexe la contract:  Da  Nu  </p>
            <p style="margin:3px; font-size:8px">Atât persoana care înstrăinează, cât şi dobânditorul declară, cunoscând prevederile Codului penal privind falsul şi uzul de fals că toate informaţiile înscrise în prezentul document corespund realităţii. Începând cu data semnării, dobânditorul are calitatea de proprietar de drept şi de fapt asupra mijlocului de transport ce face obiectul prezentului contract de înstrăinare-dobândire, preluând toate obligaţiile prevăzute de lege, inclusiv cele legate de transcrierea vehiculului pe numele sau, <b>în maxim 30 de zile, de la data încheierii prezentului act.</b> </p>
            <p style="font-weight:bold; margin:3px;"> Data şi locul încheierii contractului: <b style="font-size:14px">@Model.CarContractData.FinancialInfo.Location/ @DateTime.Now.ToShortDateString()</b> </p>
            <div style="display: flex;">
                <div style="flex:1;">
                    <br />
                    <p style="font-weight:bold; margin:3px;"> Semnătura persoanei care înstrăinează: …………………</p>

                </div>
                <div style="flex:1;">
                    <img src="@Model.CarContractData.FinancialInfo.SellerSignature" style="height: 20mm;width: 40mm;" />
                </div>
                <div style="flex:1;">
                    <br />
                    <p style="font-weight:bold; margin:3px;"> Semnătura persoanei care dobândeşte: …………………</p>
                </div>
                <div style="flex:1;">
                    <img src="@Model.CarContractData.FinancialInfo.BuyerSignature" style="height: 20mm;width: 40mm;" />
                </div>
            </div>

        </div>
        <div class="section seven">
            <div class=" column seven-one">
                <p style="margin: 3px; text-align:justify; font-size:8px">
                    1) REMTII - Registrul de evidenta a mijloacelor de transport supuse înmatriculării/înregistrării de la organul fiscal local al persoanei care înstrăinează;<br>
                    2) Prin completarea de către organul fiscal local a cartuşului B se atestă îndeplinirea prevederilor art. 159 alin. (5) din Legea nr. 207/2015 privind Codul de procedură fiscală, cu modificările și completările ulterioare, nemaifiind necesară eliberarea unui certificat de atestare fiscală. Cartuşele A și B se completează de organul fiscal local unde este înregistrat mijlocul de transport al persoanei care înstrăinează; <br>
                    3) Se completează în cazul persoanelor fizice; <br>
                    4) Se completează: codul de identificare fiscală (codul numeric personal, numărul de identificare fiscală, după caz); <br>
                    5) Se completează în cazul persoanelor juridice; <br>
                    6) Moştenitorii trebuie să facă dovada proprietăţii cu certificatul de moşt enitor sau, în lipsa acestuia cu sentinţa judecătorească, după caz;
                </p>
            </div>
            <div class=" column seven-two">
            </div>
            <div class="column seven-three" style="font-weight:bold; text-align:center">
                <p style="font-size:8px"> Copie 1 – 4 „Conform cu originalul” </p>
                <small style="font-style: italic;">(Se semnează doar pe copii)</small>
                <p style="font-size:9px"> Vânzător  <br />  …………………………<br />  Cumpărător <br />  ………………………… </p>
            </div>
        </div>
        <div class="section eight" style="font-weight : bold">
            <div class=" column eight-one">
                <p style="margin: 3px;font-size: 9px">C: Denumirea organului fiscal local de la domiciliul persoanei care dobândeşte
                <br/>CIF/Cod SIRUTA
                <br />Adresa
                <br />Tel/fax/e-mail
                <br/>REMTII Nr. ………………/………………….20…
                <br/>Rol nr.: …………………………………</p>
            </div>
            <div class=" column eight-two">
            </div>
            <div class="column eight-three">
                <p style="margin:9px;font-size: 9px">Prenumele …………………………
                <br />Numele ……………………………
                <br />Funcția ……………………………
                <br />LS.</p>
            </div>
        </div>
        <div class="section nine">
            <p style="margin: 3px; text-align:justify; font-size:8px">
                7) REMTII - registrul de evidenta a mijloacelor de transport supuse înmatriculării/înregistrării de la organul fiscal local al persoanei care dobândește. Se completează pe exemplarul original
                care rămâne la dobânditor, pe exemplarul-copie care însoțește declarația de impunere și pe exemplarul-copie care se depune la organul competent privind înmatricularea/înregistrarea/radierea
                mijloacelor de transport. Cartuşul C se completează de organul fiscal local de la domiciliul persoanei care a dobândit mijlocul de transport. Informatiile referitoare la transmiterea dreptului
                de proprietate se comunica si se mentioneaza in Registrul national de evidenta a permiselor de conducere si a vehiculelor inmatriculate; aceasta mentiune nu produce efectul juridic al
                transcrierii transmiterii dreptului de proprietate.
            </p>
        </div>
        <p style="margin: 7px; text-align:justify; font-style: italic;">*** contracte.go.ro *** Document generat de contracte.go.ro. Platforma de documente digitale dezvoltata de Professor Prime S.R.L.</p>
    </div>
</div>